<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hust_parking_lot</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
        <!-- Mapping -->
        <mapping class="Group13.parking_lot_management.model.Student"/>
        <mapping class="Group13.parking_lot_management.model.ParkingLot"/>
        <mapping class="Group13.parking_lot_management.model.Staff"/>
        <mapping class="Group13.parking_lot_management.model.ParkingHistory"/>
        <mapping class="Group13.parking_lot_management.model.Pending"/>
        <mapping class="Group13.parking_lot_management.model.Std_Transaction"/>
        <mapping class="Group13.parking_lot_management.model.VehicleType"/>
    </session-factory>
</hibernate-configuration>
